/* SEEN */
.seen{
    background-color: var(--foreground);
    padding: 3rem;   
}
.seen-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);    
    row-gap: 3rem;
}
.seen-grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (width > 600px){
    .seen-grid{
        grid-template-columns: repeat(4, 1fr);
    }

}